<template>
  <Page>
    <ActionBar title="Главная страница" />
    <StackLayout>
      <ListView height="100%" for="item in view" @itemTap="onClick">
        <v-template>
          <label :text="item.title" width="100%"/>
        </v-template>
      </ListView>
    </StackLayout>
  </Page>
</template>

<script>
import Vue from "nativescript-vue";
import Receipts from "@/components/views/Receipts";
import Settings from "@/components/views/Settings";
import Lists from "@/components/views/Lists";

const t2c = {"Списки": Lists,
    "Рецепты": Receipts,
    "Настройки": Settings}

export default Vue.extend({
  name: "Main",
  data() {
    return {
      view: [
        {title: "Списки"},
        {title: "Рецепты"},
        {title: "Настройки"}
      ]
    }
  },
  methods: {
    onClick(args) {
      console.log(`Clicked to ${args.item.title}`);
      let component = t2c[args.item.title];
      this.$navigateTo(component, {props: {user_id: "test_user"}})
    }
  }
})
</script>

<style scoped>

</style>
