<template>
  <StackLayout orientation="horizontal" height="10%">
    <label :class="{ clicked_plus : this.item.checked }" text="+" width="20%" style="text-align: center;font-size: 18" />
    <label v-model="this.item.name" width="80%" style="font-size: 18" />
  </StackLayout>
</template>

<script>
import Vue from "nativescript-vue";

export default Vue.extend({
  name: "ProductSearchLine",
  props: ["item", "clicked"]
})
</script>

<style scoped>
.clicked_plus {
  background-color: green;
}
</style>
