<template>
  <ListView height="80%" for="product in this.items" @itemTap="onClick">
    <!--  Пусть на долгое нажатие он спрашивает вес и единицы измерения, а при добавлении пусть хрень добавляется какая-нибудь -->
    <v-template>
      <ProductSearchLine :item="product" />
    </v-template>
  </ListView>
</template>

<script>
import Vue from "nativescript-vue";
import ProductSearchLine from "@/components/details/ProductSearchLine";

export default Vue.extend({
  name: "SearchList",
  props: {
    items: {
      type: Array,
      required: true,
    },
    products: {
      type: Array,
      required: true,
    }
  },
  components: {ProductSearchLine},
  methods: {
    onClick(args) {
      let item = args.item;
      if (!item.checked)
        this.products.push(item);
      else {
        let idx = this.products.indexOf(item);
        this.products // короче я не могу просто сделать this.products = ...,
        // нужно сделать пропс словарем, чтобы его можно было мутировать.
      }
      item.checked = !item.checked;
      console.log(this.products)
    }
  }
})
</script>

<style scoped>

</style>
