<template>
  <StackLayout>
    <label :text="title" width="100%" style="text-align: center;font-size: 18" />
    <ListView height="100%" for="item in this.products">
      <v-template>
        <ProductLine :list_id="list_id" :need-delete="needDelete" :item="item" :is-need-switch="isNeedSwitch" />
      </v-template>
    </ListView>
  </StackLayout>
</template>

<script>
import Vue from "nativescript-vue";
import ProductLine from "@/components/details/ProductLine";

export default Vue.extend({
  name: "ListProducts",
  props: ["viewTitle", "products", "is_need_switch", "needDelete", "list_id"],
  components: {ProductLine},
  data() {
    return {
      title: this.viewTitle,
      isNeedSwitch: this.is_need_switch || false,
    }
  },
})
</script>

<style scoped>

</style>
