<template>
  <StackLayout>
    <label :text="title" width="100%" height="5%" style="text-align: center;font-size: 18" />
    <ListView height="100%" for="item in this.products">
      <v-template>
        <ProductLine :item="item" :is-need-switch="isNeedSwitch" />
      </v-template>
    </ListView>
  </StackLayout>
</template>

<script>
import Vue from "nativescript-vue";
import ProductLine from "@/components/details/ProductLine";

export default Vue.extend({
  name: "ListProducts",
  props: ["viewTitle", "products"],
  components: {ProductLine},
  data() {
    return {
      title: this.viewTitle,
      isNeedSwitch: this.is_need_switch || false
    }
  },
})
</script>

<style scoped>

</style>
