<template>
  <StackLayout>
    <label :text="title" width="100%" height="5%" style="text-align: center;font-size: 18" />
    <ListView height="100%" for="item in this.lists.lists"  >
      <v-template>
        <GridLayout @ontap="onClick(item.list_id)" @onlongpress="longTapAction(item.list_id, item.name)" columns="*, 3*, 2*" rows="2*, *">
          <label text="😳" row="0" col="0" rowspan="2" style="text-align: center"/>
          <label :text="item.name" col="1" row="0" />
          <label col="2" row="0">Кол-во {{ item.number_of_products }}</label>
          <label v-if="isNeedSwitch" col="1" row="1">Уже есть: {{ item.number_of_checked_products }}/{{ item.number_of_products }}</label>
        </GridLayout>
      </v-template>
    </ListView>
  </StackLayout>
</template>

<script>
import Vue from "nativescript-vue";
import ProductLine from "@/components/details/ProductLine";
import {API} from "~/services/api";
import {action} from "@nativescript/core";

export default Vue.extend({
  name: "MetaList",
  props: ["viewTitle", "lists", "is_need_switch", "onClick"],
  components: {ProductLine},
  data() {
    return {
      title: this.viewTitle,
      isNeedSwitch: this.is_need_switch | false,
      select: [],
    }
  },
  methods: {
    longTapAction(list_id, name) {
      const api = new API();
      action(`Выберите действие со списком '${name}'`, "Отмена", ["Удалить"])
        .then(result => {
          if (result === "Удалить")
            api.delete(`/${list_id}`);
        });
    }
  }
})
</script>

<style scoped>

</style>
