<template>
  <GridLayout :color="gray" @ontap="check" v-if="not_deleted" rows="*" :columns="columns_desc" orientation="vertical">
    <label :text="item.name" col="0" row="0" />
    <label col="1" row="0">{{ item.count }} {{ item.unit }}</label>
    <Button v-if="needDelete" col="2" row="0" @ontap="onClick">X</Button>
    <label v-if="isNeedSwitch || false" col="2" row="0">{{ item.check ? '✅' : '⚫'}}</label>
  </GridLayout>
  <GridLayout height="0" v-else />
</template>

<script>
import Vue from "nativescript-vue";
import {API} from "~/services/api";

const columns = "4*, 4*, 1.5*"
const cols_receipt = "3*, *, *"
export default Vue.extend({
  name: "ProductLine",
  props: ["item", "isNeedSwitch", "needDelete", "list_id"],
  data() {
    return {
      columns_desc: this.isNeedSwitch ? columns: cols_receipt,
      not_deleted: true,
      gray: this.needDelete ? (this.item.check ? "green" : undefined) : undefined,
    }
  },
  methods: {
    async onClick() {
      const api = new API();
      if (this.list_id === undefined)
        throw Error("LIST ID UNDEFINED");
      await api.put(`/delete_product/${this.list_id}`, this.item);
      this.not_deleted = false;
    },
    async check() {
      if (this.needDelete) return;
      const api = new API();
      this.item.check = !this.item.check;
      await api.put(`/edit/${this.list_id}`, this.item);
    }
  }
})
</script>

<style scoped>

</style>
