<template>
  <Page>
    <StackLayout>
      <TextField hint="Начните вводить имя продукта..." v-model="userQuery" v-on:textChange="findProductsByQuery" />
      <ProductSearchLine v-if="userQuery !== ''" v-model="userQuery" :item="{name: userQuery}" />
      <SearchList :items="find_products" :products="this.products" />
    </StackLayout>
  </Page>
</template>

<script>
import Vue from "nativescript-vue";
import ProductSearchLine from "@/components/details/ProductSearchLine";
import ProductService from "@/services/ProductService";
import SearchList from "~/components/details/SearchList";

let product_service = new ProductService()

export default Vue.extend({
  name: "AddProductView",
  props: ["products"],
  components: {ProductSearchLine, SearchList},
  data() {
    // Нужно вычищать из рекомендаций те продукты, которые уже есть в списке.
    // Я не справился с динамическим отображением продуктов, я не настоящий сварщик.
    return {
      find_products: product_service.getProducts(undefined),
      userQuery: ""
    }
  },
  methods: {
    findProductsByQuery(args) {
      this.find_products = product_service.getProducts(this.userQuery)
    }
  }
})
</script>

<style scoped>

</style>
