<template>
  <Page>
    <StackLayout>
      <ListView>
        <input name="Имя пользователя" v-model=username />
        <input name="Пароль" v-model=password />
        <input name="Email" v-model=email />
        <button ontap="" />
      </ListView>
    </StackLayout>
  </Page>
</template>

<script>
import Vue from "nativescript-vue";

export default Vue.extend({
  name: "RegisterView",
  data() {
    return {
      username: undefined,
      password: undefined,
      email: undefined,
      host: this.host,
    }
  },
  methods: {
    onclick(args)
    {

      console.log(f.token);
    }
  }
})
</script>

<style scoped>

</style>
