<template>
  <Page>
    <StackLayout style="text-align: center">
      <label>Имя продукта</label>
      <TextField hint="Начните вводить имя продукта..." v-model="product_name" />
      <label>Количество</label>
      <TextField v-model="count" />
      <label>Единица измерения: {{ units.join(", ") }}</label>
      <TextField hint="Единица измерения" v-model="unit" />
      <label v-if="error" style="color: red">{{ error }}</label>
      <Button @ontap="onSave">Добавить продукт</Button>
    </StackLayout>
  </Page>
</template>

<script>
import Vue from "nativescript-vue";
import ProductService from "@/services/ProductService";

let product_service = new ProductService()

export default Vue.extend({
  name: "AddProductView",
  props: ["products", "list_id"],
  data() {
    // Нужно вычищать из рекомендаций те продукты, которые уже есть в списке.
    // Я не справился с динамическим отображением продуктов, я не настоящий сварщик.
    return {
      product_name: "",
      count: 1,
      unit: "шт.",
      units: ["шт.", "ч.л.", "с.л.", "гр.", "кг.", "л.", "мл."],
      error: "",
    }
  },
  methods: {
    async onSave(args) {
      let found = false;
      for (let item of this.units)
        if (item === this.unit) {
          found = true;
          break;
        }
      if (!found)
        this.error = "Нельзя добавить новую единицу измерения.";
      else {
        this.error = "";
        product_service.addProduct(this.list_id, {
          name: this.product_name,
          unit: this.unit,
          count: this.count,
          category: [],
          check: false,
          density: 1,
        }).then(() => {
          console.log("Product created");
          this.$navigateBack();
        })
      }
    }
  }
})
</script>

<style scoped>

</style>
