<template>
  <Page>
    <StackLayout style="text-align: center">
      <label>Имя {{ isReceipt ? 'рецепта' : 'списка' }}</label>
      <TextField hint="Начните вводить имя..." v-model="list_name"/>
      <label v-if="error" color="red">{{ error }}</label>
      <Button @tap="CreateList">Добавить</Button>
    </StackLayout>
  </Page>
</template>

<script>
import Vue from "nativescript-vue";
import ProductService from "@/services/ProductService";
import {API} from "@/services/api";
import ListView from "~/components/views/ListView";

let product_service = new ProductService()

export default Vue.extend({
  name: "AddProductView",
  props: ["isReceipt", "products"],
  components: {ListView},
  data() {
    return {
      list_name: "",
      error: "",
      p: this.products ? this.products : [],
    }
  },
  methods: {
    async CreateList(args) {
      const api = new API();
      if (this.list_name) {
        this.error = "";
        api.post("/",
            {
              "name": this.list_name,
              "products": this.p,
              "is_recipe": this.isReceipt,
            }).then(async (res) => {
              const r = await res.json();
              await this.$navigateTo(ListView, {props: {id: r.list_id}});
        });
      } else
        this.error = "Укажите имя списка";
    }
  }
})
</script>

<style scoped>

</style>
