<template>
  <Page>
    <StackLayout style="text-align: center">
      <label>Имя списка</label>
      <TextField hint="Начните вводить имя списка..." v-model="list_name"/>
      <label>Коэффициент домножения</label>
      <TextView editable="false" height="7%">Напишите 2 чтобы увеличить количество ингредиентов в 2 раза</TextView>
      <TextField hint="Напишите 2 чтобы увеличить количество ингредиентов в 2 раза" v-model="coeff"/>
      <label v-if="error" style="color: red">{{ error }}</label>
      <Button @ontap="onSave">Создать список</Button>
    </StackLayout>
  </Page>
</template>

<script>
import Vue from "nativescript-vue";
import {API} from "@/services/api";
import Lists from "@/components/views/ListView";

export default Vue.extend({
  name: "CreateListFromReceipt",
  props: ["list_id"],
  components: {Lists},
  data() {
    return {
      list_name: "",
      coeff: 1,
      error: "",
    }
  },
  methods: {
    async onSave(args) {
      if (this.coeff < 0 || this.coeff > 100)
        this.error = "Коэффициент должен быть > 0 и < 100";
      else {
        if (this.list_name) {
          const api = new API();
          api.post("/create_from_recipe", {
            list_id: this.list_id,
            name: this.list_name,
            coeff: this.coeff,
          }).then(async (res) => {
                const r = await res.json();
                console.log(`Лист создан. Переход на ${r.list_id}...`);
                this.$navigateTo(Lists, {"props": {"id": r.list_id}});
              })
        } else {
          this.error = "Имя не может быть пустым";
        }
      }
    }
  }
})
</script>

<style scoped>

</style>
