<template>
  <Page>
    <template v-if="this.loaded">
      <StackLayout>
        <Button @tap="Merge">Соединить списки</Button>
        <Button @tap="CreateList">Добавить список</Button>
        <MetaList viewTitle="Списки продуктов" :lists="this.meta_lists"
                  :is_need_switch="true" :onClick="onItemClick" />
      </StackLayout>
    </template>
    <template v-else-if="this.error">
      <label text="Ошибка при загрузке данных" />
    </template>
    <template v-else>
      <label text="Загрузка..." />
    </template>
  </Page>
</template>

<script>
import Vue from "nativescript-vue";
import ListOfProducts from "~/components/views/ListView";
import ListsService from "~/services/GetListsService";
import MetaList from "~/components/details/MetaList";
import CreateListView from "~/components/views/CreateListView";
import MergeView from "~/components/views/MergeView";

let getListsService = new ListsService()

export default Vue.extend({
  name: "Lists",
  props: ["user_id"],
  components: {MetaList},
  data() {
    return {
      loaded: false,
      error: false,
      meta_lists: {lists: []},
      interval: undefined,
    }
  },
  beforeDestroy() {
    clearInterval(this.interval);
  },
  mounted() {
    getListsService.getLists().then((result) => {
      this.meta_lists.lists = result.lists;
      this.loaded = true;
    }).catch((res) => {
      console.log(res);
      this.loaded = false;
      this.error = true;
    })

    this.interval = setInterval(async () => {
      getListsService.getLists().then((result) => {
        this.meta_lists.lists = result.lists;
        this.loaded = true;
      }).catch((res) => {
        console.log(res);
        this.loaded = false;
        this.error = true;
      })
    }, 1500);
  },
  methods: {
    onItemClick(list_id) {
      this.$navigateTo(ListOfProducts, {props: {id: list_id}})
    },
    CreateList(args) {
      this.$navigateTo(CreateListView, {props: {isReceipt: false}})
    },
    Merge() {
      this.$navigateTo(MergeView, {props: {meta_lists: this.meta_lists}});
    }
  }
})
</script>

<style scoped>

</style>
