<template>
  <Page>
    <StackLayout>
      <Button text="Добавить продукт" width="100%" height="7.5%"
             style="text-align: center;font-size: 18" @tap="addNewProduct" />
      <Button text="Удаление продукта" width="100%" height="7.5%"
             style="text-align: center;font-size: 18" @tap="rmProduct" />
      <ListProducts view-title="Список продуктов"
                :is_need_switch=true
                :products=product_list
                :list_id=id
      />
    </StackLayout>
  </Page>
</template>

<script>
import Vue from "nativescript-vue";
import ListService from "~/services/ListService";
import ListProducts from "~/components/details/ListProducts";
import AddProductView from "~/components/views/AddProductView";
import ListDeleteProduct from "~/components/views/ListDeleteProduct";
let listService = new ListService()

export default Vue.extend({
  name: "Lists",
  props: ["id"],
  components: {ListProducts},
  beforeDestroy() {
    clearInterval(this.interval);
  },
  data() {
    return {
      product_list: [],
      interval: undefined,
    }
  },
  async mounted() {
    this.product_list = await listService.getProducts(this.id);
    this.interval = setInterval(async () => {
        this.product_list = await listService.getProducts(this.id);
      }, 1500);
  },
  methods: {
    addNewProduct() {
      this.$navigateTo(AddProductView, {props: {"products": this.product_list,
          "list_id": this.id}})
    },
    rmProduct() {
      this.$navigateTo(ListDeleteProduct, {props: {list_id: this.id}})
    }
  }
})
</script>

<style scoped>

</style>
