<template>
  <Page>
    <StackLayout>
      <ListProducts view-title="Удаление продукта"
                    :products=product_list
                    :list_id="this.list_id"
                    :needDelete="true"
      />
    </StackLayout>
  </Page>
</template>

<script>
import Vue from "nativescript-vue";
import ListService from "~/services/ListService";
import ListProducts from "~/components/details/ListProducts";
import AddProductView from "~/components/views/AddProductView";
let listService = new ListService()

export default Vue.extend({
  name: "Lists",
  props: ["list_id"],
  components: {ListProducts},
  data() {
    return {
      product_list: [],
      id: this.list_id,
    }
  },
  mounted() {
    listService.getProducts(this.id).then((res) => {
      this.product_list = res;
    });
  },
})
</script>

<style scoped>

</style>
