<template>
  <Page>
    <template v-if="this.loaded">
      <StackLayout>
        <label text="Выберите списки" width="100%" height="5%" style="text-align: center;font-size: 18"/>
        <Button @tap="onMerge">Создать объединённый список</Button>
        <label v-if="error_message" style="color: red;text-align: center">{{ error_message }}</label>
        <ListView height="90%" for="item in this.lists" @itemTap="onItemClick">
          <v-template>
            <GridLayout columns="*, 3*, 2*, 1*" rows="*">
              <label row="0" col="0" rowspan="2" style="text-align: center">{{ item.text }}</label>
              <label :text="item.name" col="1" row="0"/>
              <label col="2" row="0">Кол-во {{ item.number_of_products }}</label>
              <label col="3" row="0" :style="{
                color: item.is_recipe ? '#48b9dc' : '#8b48dc'
              }" :text="item.is_recipe ? 'P': 'C'"/>
            </GridLayout>
          </v-template>
        </ListView>
      </StackLayout>
    </template>
    <template v-else-if="this.error">
      <label text="Ошибка при загрузке данных"/>
    </template>
    <template v-else>
      <label text="Загрузка..."/>
    </template>
  </Page>
</template>

<script>
import Vue from "nativescript-vue";
import ListsService from "~/services/GetListsService";
import MetaList from "~/components/details/MetaList";
import {API} from "~/services/api";
import CreateListView from "~/components/views/CreateListView";

let getListsService = new ListsService()

const api = new API();
export default Vue.extend({
  name: "MergeView",
  components: {MetaList, CreateListView},
  data() {
    return {
      loaded: false,
      error: false,
      error_message: "",
      interval: undefined,
      selected: [],
      lists: [],
      id2color: {},
    }
  },
  async mounted() {
    const response = await api.get("/full_info");
    let res = await response.json();
    for (let l of res) {
      l.text = '⚫';
      this.selected = [];
    }
    this.lists = res;
    this.loaded = true;
  },
  methods: {
    onItemClick(args) {
      if (args.item.text === '⚫')
      {
        args.item.text = '✅';
        this.selected.push(args.item.list_id);
      }
      else {
        args.item.text = '⚫';
        this.selected = this.selected.filter((x) => x !== args.item.list_id);
      }
    },
    async onMerge() {
      if (this.selected.length === 0) {
        this.error_message = "Необходимо выбрать хотя бы один список"
      }
      else {
        this.error_message = "";
        const result = await api.post("/merge", {"lists": this.selected});
        const result_list = await result.json();
        await this.$navigateTo(CreateListView, {props: {isReceipt: false, products: result_list.products}});
      }
    }
  }
})
</script>

<style scoped>

</style>
