<template>
  <Page>
    <StackLayout>
      <Button @ontap="CreateList">Добавить рецепт</Button>
      <label text="Список рецептов" width="100%" height="5%" style="text-align: center;font-size: 18" />
      <ListView height="100%" for="item in this.lists">
        <v-template>
          <GridLayout @ontap="onClick(item.list_id, item.name)" @onlongpress="longTapAction(item.list_id, item.name)" columns="*, 3*, 2*" rows="2*, *">
            <label text="😳" row="0" col="0" rowspan="2" style="text-align: center"/>
            <label :text="item.name" col="1" row="0" />
            <label col="2" row="0">Кол-во {{ item.number_of_products }}</label>
          </GridLayout>
        </v-template>
      </ListView>
    </StackLayout>
  </Page>
</template>

<script>
import Vue from "nativescript-vue";
import ReceiptService from "~/services/ReceiptService";
import ReceiptView from "~/components/views/ReceiptView";
import MetaList from "~/components/details/MetaList";
import {API} from "~/services/api";
import {action} from "@nativescript/core";
import CreateListView from "~/components/views/CreateListView";

let receiptService = new ReceiptService()

export default Vue.extend({
  name: "Receipts",
  props: ["user_id"],
  components: {MetaList, CreateListView},
  data() {
    return {
      lists: [],
      interval: undefined,
    }
  },
  async mounted() {
    this.lists = await receiptService.getRecipes();
    this.interval = setInterval(async () => {
      this.lists = await receiptService.getRecipes();
    }, 1500);
  },
  beforeDestroy() {
    clearInterval(this.interval);
  },
  methods: {
    onClick(list_id, name) {
      this.$navigateTo(ReceiptView, {props: {id: list_id, name: name}})
    },
    longTapAction(list_id, name) {
      const api = new API();
      action(`Выберите действие со списком '${name}'`, "Отмена", ["Удалить"])
        .then(result => {
          if (result === "Удалить")
            api.delete(`/${list_id}`);
        });
    },
    CreateList(args) {
      this.$navigateTo(CreateListView, {props: {isReceipt: true}});
    },
  }
})
</script>

<style scoped>

</style>
