
<template>
  <Page>
    <StackLayout>
      <Button @ontap="gotoCreate">Создать рецепт как список</Button>
      <Button @ontap="addNewProduct">Добавить продукт</Button>
      <Button @ontap="rmProduct">Удаление продуктов</Button>
      <ListProducts :view-title="full_name"
                    :products="product_list" :is_need_switch="false" />
    </StackLayout>
  </Page>
</template>

<script>
import Vue from "nativescript-vue";
import ReceiptService from "@/services/ReceiptService";
import ListProducts from "~/components/details/ListProducts";
import ListService from "~/services/ListService";
import AddProductView from "~/components/views/AddProductView";
import ListDeleteProduct from "~/components/views/ListDeleteProduct";
import CreateListFromReceipt from "~/components/views/CreateListFromReceipt";

const receiptService = new ReceiptService();
const listService = new ListService();

export default Vue.extend({
  name: "ReceiptView",
  props: ["id", "name"],
  components: {ListProducts, AddProductView, ListDeleteProduct},
  data() {
    return {
      product_list: [],
      full_name: `Список продуктов ${this.name}`,
      interval: undefined,
    }
  },
  async mounted() {
    this.product_list = await listService.getProducts(this.id);
    this.interval = setInterval(async () => {
      this.product_list = await listService.getProducts(this.id);
    }, 1500);
  },
  beforeDestroy() {
    clearInterval(this.interval);
  },
  methods: {
    addNewProduct() {
      this.$navigateTo(AddProductView, {props: {"products": this.product_list,
          "list_id": this.id}})
    },
    rmProduct() {
      this.$navigateTo(ListDeleteProduct, {props: {list_id: this.id}})
    },
    gotoCreate() {
      clearInterval(this.interval);
      this.$navigateTo(CreateListFromReceipt, {props: {list_id: this.id}})
    },
  }
})
</script>

<style scoped>

</style>
