<template>
  <Page>
    <StackLayout>
      <ListView height="100%" for="item in view">
        <v-template>
          <label :text="item.title" width="100%"/>
        </v-template>
      </ListView>
    </StackLayout>
  </Page>
</template>

<script>
import Vue from "nativescript-vue";

export default Vue.extend({
  name: "Settings",
  props: ["user_id"],
  data() {
    return {
      view: [
        {title: "Пока пусто"}
      ]
    }
  }
})
</script>

<style scoped lang="scss">

</style>
